.movie-detail-container{
   text-align: center;
   margin-bottom: 70px;
   padding-bottom: 30px;
   border-bottom: 3px dotted black;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container{
    width: 60%;    
}

.movie-picture{
    width: 700px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-right: 20px;

}
