.character-detail-container{
    border: 1px solid #000000;
    border-radius: 10px;
    width: 400px;
    box-shadow: black  5px 10px 10px;
    transition: 0.3s;
}

.character-detail-container:hover{
    transform: scale(1.1);

}

.character-detail-container > img {
    width: 350px;
    border-radius: 5px;

}

.characters-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



